.~*
*.log
*.out
*.bcf
*.run.xml

# .env

node_modules/
*cpe-dictionary*.xml*

cve-check.*
!cve-check.py
populate.sh

**/*.zip
**/*.tgz
**/*.gz
**/*.tar
**/*.xz
**/*.img
**/*.raw
**/*.vmdk
**/*.vdi
**/*.qcow2
**/*.sha256

__pycache__/
__handlers__/

exploit/**/CVE-*/*/

*.html
check.sh

# *.json
**/*.spdx.json

src/parsetab.py

cvelist*/cves/

**/meta-renesas/*

**/qnx800

# os/**/*.csv

output.cve-bin-tool*.json

docker/aaos/os/

**/agl/.repo
**/agl/bsp
**/agl/build
**/agl/external
**/agl/meta-*
**/agl/os

!**/agl/
!**/agl/*.sh
!**/agl/Dockerfile

os/

./main.c*
a.out
poc-*

adb-log/*

src/analyser/utils/lib
src/analyser/utils/frida-server*

osv/
.env.secret

out/
cves.json